/*-----Обгортка-----*/
.wrapper {
	min-height: 100%;
	overflow: hidden;
}
/*-----Контейнер-----*/
.container {
	max-width: 1280px;
	margin: 0 auto;
}

/*-----Header-----*/
.logo-header {
	margin: 63px 949px 40px 0px;
	color: #000000;
	font-size: 80px;
	line-height: 94px;
	text-align: center;
}
.logo-header__link span {
	color: #4BCAFF;
}
.menu__list {
	display: flex;
	justify-content: center;
	align-items: center;
	background: #35444F;
	color: #FFFFFF;
	font-size: 24px;
	line-height: 28px;
}
.menu__item {
	padding: 23px 0px 18px 0px;
	border-left: 1px solid #FFFFFF;
	transition: all 0.3s ease 0s;	
}
.menu__item:first-child {
	padding-left: 32px;
	padding-right: 32px;
}
.menu__item:nth-child(2) {
	padding-left: 38px;
	padding-right: 38px;
}
.menu__item:nth-child(3) {
	padding-left: 40px;
	padding-right: 40px;
}
.menu__item:last-child {
	border-right: 1px solid #FFFFFF;
	padding-left: 40px;
	padding-right: 40px;
}
.menu__item:hover {
	background: #222F3A;
}

/*---------MAIN---------*/
.ramda {
	margin-top: 48px;
}
.ramda__container {
	display: flex;
}

/*-----Menu-Sidebar-----*/
.sidebar-ramda {
	flex: 0 0 26.87%;
	margin-right: 52px;
}
.menu-sidebar {
	background: rgba(0, 0, 0, 0.0001);
	border: 1px solid #000000;	
}
.menu-sidebar__list {
	font-size: 27px;
	line-height: 27px;
	color: #485863;
}
.menu-sidebar__item {
	margin-left: 44px;
	padding: 26.4px 0px;
	transition: all 0.3s ease 0s;
}
.menu-sidebar__item:hover {
	background-color: #DBDBDB;
	color: #35444F;
	margin-left: 0;
	padding-left: 72px;	
}

/*-----Content-----*/
.image-ramda {
	background: rgba(0, 0, 0, 0.0001);
	border: 1px solid #000000;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 34px;
}
.image-ramda__picture{
	padding: 74px 0px 72px 0px;
	transition: all 0.3s ease 0s;
}
.image-ramda__picture:hover {
	transform: scale(1.1);
	transition: all 0.3s ease 0s;
	cursor: pointer;
}
.desc-ramda {
	font-size: 18px;
	line-height: 24px;
	color: #2C2C2C;
}
.desc-ramda__text:first-child {
	margin-bottom: 30px;
}

/*-----Footer-----*/
.footer {
	margin: 51px 0px 30px 0px;
}
.footer__container {
	display: flex;
	justify-content: center;
	align-items: center;
	background: rgba(99, 105, 110, 0.48);
}
.footer-menu__list {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 28px;	
	line-height: 28px;
	color: #0C1927;
	margin-left: 40px;
}
.footer-menu__item {
	padding: 20px 28px 21px 0px;
	transition: all 0.3s ease 0s;
}
.footer-menu__item:last-child {
	padding-right: 0;
}
.footer-menu__item:hover {
	color:#3181A6;
}
.footer-menu__item:hover .footer-menu__link {
	padding-bottom: 10px;
	border-bottom: 1px solid #3181A6;
}
.footer__info {
	margin: 0px 40px 0px 135px;
	font-size: 24px;
	line-height: 24px;
	color: #010101;
}